@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.new-place__container {
  text-align: center;
  vertical-align: center;
  /* background-image: url("../../images/background.png"); */
 
}
.NewPlace {

  max-width: 500px;
  margin-left: 30%;
  height: 85vh;
  padding: 15px 20px 0px 20px;
  background-color: rgba(40,57,101,.9);;
  opacity:0.75;
  padding: 8px 16px 8px 16px;
  border-radius: 20px;
}
.title {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
 
  border-radius: 20px;
}
.description,
.address {

  border-radius: 20px;

  padding: 10px;
  display: inline-block;
  width: 100%;
}

#image {

  border-radius: 20px;

  font-size: 15px;
  display: block;
  width: 50%;
}
.add-new-place {
  background-color: #2c002c;

  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
  color:#ffffff;
  border-radius: 20px;
  padding: 8px;
  width: 200px;
  margin-left: 30%;
  margin-top: 0px;
}

.add-new-place[type="button"]:hover {
  background-color: #45a049;
}

.upload-image
{
  margin-left: 25%;
  color:#ffffff;
  background-color: #2c002c;
 
}

::placeholder{
  font-family: sans-serif;
}

label[for=description] b,
label[for=title] b,
label[for=address] b,
label[for=photo] b{
  color: white;
  
  padding: 8px;
 
}

@media(max-width:600px){
  .new-place__container{
    margin-top: 0;
    margin-left:-25%;
    width:115%;
    

}
.add-new-place{
  margin-left: 15%;
}
  
}
