@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.card_body{
    margin: 0px;
    padding: 0px;
    

    
}

.places_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
    border-radius: 20px;
    /* width: 70%;
    margin-left:15%;
    margin-bottom: 50px; */
    width: 31%;
    margin-left:2%;
    margin-bottom: 40px;
    margin-top: 40px;
    float: left;
    background-color:white;
    border: black;
    height: 490px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  .container {
    padding: 2px 16px;
    
  }

  .places_card img{
      width:100%;
      height: 250px;
      border-radius: 20px 20px 0px 0px;
  }

  .container h4, p{
      color:teal;
      font-size: 15px;
      /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  }
  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
    .places_card {
      width: 95.5%;
      margin-left:2%;
      margin-bottom: 40px;
      margin-top: 40px;
      height: 540px;
    }
    .container h4, p{
      font-size: 13px;
    }
}
 
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .places_card {
    width: 80%;
    margin-left:9%;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 470px;
  }
  .container h4, p{
    font-size: 14px;
  }
}
 
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .places_card {
    width: 47%;
    margin-left:2%;
    margin-bottom: 40px;
    margin-top: 40px;
    height: 560px;
    float: left;
  }
  .container h4, p{
    font-size: 16px;
  }
}
 


  
 