@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


.card-image {
  max-width: 30%;
  /* max-height: 20%;
  float: left; */
}

.destination_details_form {
  width: 40%;
  margin-left: 30%;
  background-color: rgba(40,57,101,.9);;
  opacity:0.75;
  padding: 25px;
  border-radius: 20px;
  
}

.card-body__name,
.card-body__location,
.card-body__description {
  color: #2c002c;
  margin-bottom: 1em;
  font-weight: bold;
}

.dest-fields {
  display: block;
  margin-bottom: 1em;
  color: #ffffff;
  font-weight: bold;
}

.dest-input {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #666;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 20px;
}

#add-button{
  background-color: #2c002c;
  color: white;
  border-radius: 20px;
  padding: 8px;
  width: 200px;
  margin-left: 30%;
  margin-top: 20px;
}

.dest-card {
  padding: 20px;
  background-color: #efefef;
  margin-bottom: 20px;
}

.no-places{
  text-align: center;
  color: #2c002c;
  margin-top: 45px;
  
}

#description{
  border-radius: 20px;
  width: 100%;
}

.remove-button
{
  color: white;
  background-color: #2c002c;
  width:15%;
  padding: 20px;
  /* border-radius: 20px; */
  font-size: 15px;
  margin-top:0px;
}


@media (max-width: 600px) {
  .destination_details_form {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
 
    width:100%;
    

  }
  #add-button{
    width: 150px;
    
    margin-left: 25%;
    background-color: #2c002c;
  
  }
  .no-places{
    box-sizing: border-box;
    background-color: #2c002c;
    color: #ffffff;
  }
}